<div style="padding:25px">

    <div class="row">
        <div class="col">
            <form class="form-inline">
                <input id="search" class="form-control" type="search" placeholder="Search">
              </form>
              <br/>
        </div >
        
        <div class="col" style="text-align:right">
                   
          <button type="button" class="btn-sm btn-primary"  data-toggle="modal" data-target="#exampleModal" style="outline:none">
                New Supplier
              </button>
              <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel"> Supplier information</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline:none">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form style="text-align:left" > 
                <div class="form-group" required>
                    <label for="name">Name*</label>
                    <input type="text" class="form-control" id="name" placeholder="name" >
                  </div>
                  <div class="form-group" required>
                    <label for="phone">Phone no*</label>
                    <input type="phone" class="form-control" id="phone" placeholder="phone no">
                  </div>

                  <div class="form-group" >
                    <label for="exampleFormControlInput1">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                  </div>

                  <div class="form-group">
                    <label for="gst">GSTIN</label>
                    <input type="text" class="form-control" id="gst" placeholder="GSTIN">
                  </div>
                
                <div class="form-group" required>
                  <label for="exampleFormControlTextarea1">Address*</label>
                  <textarea class="form-control" id="address" rows="1"></textarea>
                </div>
                <div class="form-group" required>
                    <label for="category">State*</label>
                    <select class="form-control" id="state" style="outline:none">
                            <option>Andaman & Nicobar Island</option>
                            <option>Andhra Pradesh</option>
                            <option>Arunachal Pradesh</option>
                            <option>Assam</option>
                            <option>Bihar</option>
                            <option>Chandigarh</option>
                            <option>Chattisgarh</option>
                            <option>Dadra & Nagar Haveli</option>
                            <option>Daman & Diu</option>
                            <option>Delhi</option>
                            <option>Goa</option>
                            <option>Gujrat</option>
                            <option>Haryana</option>
                            <option>Himachal Pardesh</option>
                            <option>Jammu & Kashmir</option>
                            <option>Jharkhand</option>
                            <option>Karnataka</option>
                            <option>Kerela</option>
                            <option>Lakshadweep Island</option>
                            <option>Madhya Pradesh</option>
                            <option>Maharastra</option>
                            <option>Manipur</option>
                            <option>Meghalya</option>
                            <option>Mizoram</option>
                            <option>Nagaland</option>
                            <option>Odisha</option>
                            <option>Pondicherry</option>
                            <option>Punjab</option>
                            <option>Rajasthan</option>
                            <option>Sikkim</option>
                            <option>Tamil Nadu</option>
                            <option>Telangana</option>
                            <option>Tripura</option>
                            <option>Uttar Pradesh</option>
                            <option>Utrakhand</option>
                            <option>West Bengal</option>
                    </select>
                  </div>
                <div id="error" style="color:#fff;background-color:#616161;padding:15;text-align:center"></div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-primary" onclick="submit()" style="outline:none">Save</button>
        </div>
      </div>
    </div>
  </div>
        </div>
      </div>

    

    
<table class="table table-sm" id="mytable">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">GSTIN</th>
        <th scope="col">Address</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <% for (i=0; i<res.rowCount ; i++){ %>
      <tr>
        <th scope="row"><%=res.rows[i].sid%></th>
        <td><%=res.rows[i].name%></td>
        <td><%=res.rows[i].phone%></td>
        <td><%=res.rows[i].email%></td>
        <td><%=res.rows[i].gst%></td>
        <td><%=res.rows[i].address%></td>
        <td >
            <div class="dropdown">
          <img src="3dot.png" height="20"  class="dropdown-toggle"data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"/>
          <div class="dropdown-menu " aria-labelledby="dropdownMenuButton"  style="margin: 0;padding:0" >
              <a class="dropdown-item" id="<%=res.rows[i].cid%>" href="#"><i class="small material-icons"  style="padding-right:29">visibility</i>   View</a>
              <a class="dropdown-item" id="<%=res.rows[i].cid%>" href="#" ><i class="small material-icons" style="padding-right:29">edit</i>  Edit</a>
              <a class="dropdown-item" id="<%=res.rows[i].cid%>" onclick="deleteCustomer($(this).attr('id'))" ><i class="small material-icons" style="padding-right:29">delete</i>  Delete</a>
            </div>
          </div>
        </td>
      </tr>
     <%}%>
    <tbody>
      
    </tbody>
  </table>
  </div>
  <script type="text/javascript">


$(document).ready(function(){
  $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#mytable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

function submit()
{
var obj =
         {
             name: document.getElementById('name').value,
             phone: document.getElementById('phone').value,
             email: document.getElementById('email').value,
             gst: document.getElementById('gst').value,
             address: document.getElementById('address').value,
             state: document.getElementById('state').value,          
         };
         console.log(obj)
         if(obj.name=="")
         {
          $('#name').trigger('focus')
          $('#error').html("Name cannot be empty").fadeIn(500).delay(5000).fadeOut(500)
        }else if(obj.phone==""||obj.phone.length!=10)
        {
          $('#phone').trigger('focus')
          $('#error').html("Not a Valid phone number").fadeIn(500).delay(5000).fadeOut(500)
        }else if(obj.address=="")
        {
          $('#address').trigger('focus')
          $('#error').html("Address cannot be empty").fadeIn(500).delay(5000).fadeOut(500)
        }else{
          var obj = JSON.stringify(obj);
          $.ajax({
            type: "POST",
            url: "/addSupplier",
            dataType: "json",
            data: {
                o: obj
            },
            success: function (data) {
              $('#name').val("")
         $('#phone').val("")
         $('#email').val("")
         $('#address').val("")
         $('#gst').val("")
         $('#error').html("Customer added Sucessfully").fadeIn(500).delay(5000).fadeOut(500)
         
         window.location.href = '/supplier';    
        },
            error: function () {
              $('#name').val("")
         $('#phone').val("")
         $('#email').val("")
         $('#address').val("")
         $('#gst').val("")
         $('#error').html("Something Went Wrong ,Pease try Again").fadeIn(500).delay(5000).fadeOut(500)
            }
        });      
        }       
}
  </script>